{% extends "layout.html" %}

<!-- Head -->
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock head %}

<!-- Content -->
{% block content %}
<div class="ro-title">
	<h2>Project Details: Shakespeare</h2>
	<a href="/" class="btn btn-sm btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Home</a>
</div>
<hr>
<div class="ro-project-description">
    <p>Shakespeare was an influential writer in the era of english monarchies.
       Born in 1564 and death in 1616; Shakeaspeare wrote many plays throughout the years
       that changed high school english classes for centuries </p><br>
       The main objective of the application is that when a seed is given to the
       application the code builds a script similar to old Shakespeare plays.
       The final set of data consists of 60 epochs or datasets with which to derive
       a partial play script will characters and dialogue.

	   This app demonstrates procedural text generation using machine a learning techique call LSTM (Long Short Term Memory).
	   It is trained by reading all of Shakespear's works and learns to emulate the writing style of the Bard.
	   </p>
</div>

{% endblock content %}