{% extends "layout.html" %}

<!-- Head -->
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
{% endblock head %}

<!-- Content -->
{% block content %}

<div class="ro-exercises">
<!--<p>Flappy Bird was an extremely popular mobile game from many years back.-->
<!--With simple gameplay, players would become very competitive with-->
<!--the people around them, and soon, the game rose in popularity.-->
<!--Eventually, the creator grew tire of the fame, and decided-->
<!--to remove it to the application from stores. <br>-->
    <p>Shakespeare was an influential writer in the era of english monarchies.
       Born in 1564 and death in 1616; Shakeaspeare wrote many plays throughout the years
       that changed high school english classes for centuries </p><br>
       The main objective of the application is that when a seed is given to the
       application the code builds a script similar to old Shakespeare plays.
       The final set of data consists of 60 epochs or datasets with which to derive
       a partial play script will characters and dialogue. </p>
<!--The main objective of the game is to avoid hitting the pipes that come from the-->
<!--top and bottom of the screen with the bird, the player's character. Using-->
<!--Machince Learning, an algorithm was used to allow the bird to traverse-->
<!--the pipes without dying. To achieve this, many trials and errors had to-->
<!--take place for the computer could get use to the game environment.</p>-->
</div>

{% endblock content %}