/* Main Content Areas */
body {
	background-image: url('../images/wallpaper.jpg');
	background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	font-family: Orbitron;
}
.ro-content-constraint {
	max-width:1024;
	width: 100%;
	margin: 0 auto;
}
.ro-wrapper {
	background: grey;
	flex: 1;
	padding: 1rem;
	border-right: 2px solid black;
	border-left: 2px solid black;
}
* {
	color: white;
}

/* Header */
.ro-header {
	background-color: black;
	padding: .5rem 0;
}
#logo {
	max-width: 650px;
}

/* Title Row */
.ro-title {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
}

.ro-project-description {
	font-family: Rajdhani;
	line-height: 2.5;
	letter-spacing:2px;
	font-size: 18px;
	font-weight: bold;
	text-indent: 50px;
}

/* General Helpers */
[data-url] {
	cursor: pointer;
}
hr {
	border-top: 2px solid red;
}
a {
	color: #E80000;
}
a:hover {
	color: #9D0000;
}
h2 {
	margin: 0;
	font-size: 1.5rem;
}