{% extends "layout.html" %}

<!-- Content -->
{% block content %}

<div class="ro-title">
	<h2>Draw Number</h2>
	<a href="/" class="btn btn-sm btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Home</a>
</div>
<hr>
<div class="mb-3">
    <canvas id="sheet" width="255" height="255"></canvas>
</div>
<form action="/p1/draw_post" method="POST" id="my_form">

</form>
<div class="d-flex">
    <button id="export_button" class="btn btn-sm btn-primary mr-3">Export</button>
    <button id="clear_button" class="btn btn-sm btn-danger">Clear</button>
</div>

<script type='text/javascript'>
    /*jslint browser:true */
    "use strict";

    var context = document.getElementById('sheet').getContext("2d");
    var canvas = document.getElementById('sheet');
    context = canvas.getContext("2d");
    context.strokeStyle = "white";
    context.lineJoin = "round";
    context.lineWidth = 10;
    context.fillStyle = 'black';
    context.fillRect(0, 0, canvas.width, canvas.height);

    var clickX = [];
    var clickY = [];
    var clickDrag = [];
    var paint;


    /**
     * Add information where the user clicked at.
     * @param {number} x
     * @param {number} y
     * @return {boolean} dragging
     */
    function addClick(x, y, dragging) {
        clickX.push(x);
        clickY.push(y);
        clickDrag.push(dragging);
    }

    /**
     * Redraw the complete canvas.
     */
    function redraw() {
        // Clears the canvas
        context.clearRect(0, 0, context.canvas.width, context.canvas.height);

        for (var i = 0; i < clickX.length; i += 1) {
            if (!clickDrag[i] && i == 0) {
                context.beginPath();
                context.moveTo(clickX[i], clickY[i]);
                context.stroke();
            } else if (!clickDrag[i] && i > 0) {
                context.closePath();

                context.beginPath();
                context.moveTo(clickX[i], clickY[i]);
                context.stroke();
            } else {
                context.lineTo(clickX[i], clickY[i]);
                context.stroke();
            }
        }
    }

    /**
     * Draw the newly added point.
     * @return {void}
     */
    function drawNew() {
        var i = clickX.length - 1
        if (!clickDrag[i]) {
            if (clickX.length == 0) {
                context.beginPath();
                context.moveTo(clickX[i], clickY[i]);
                context.stroke();
            } else {
                context.closePath();

                context.beginPath();
                context.moveTo(clickX[i], clickY[i]);
                context.stroke();
            }
        } else {
            context.lineTo(clickX[i], clickY[i]);
            context.stroke();
        }
    }

    function mouseDownEventHandler(e) {
        paint = true;
        var x = e.pageX - canvas.offsetLeft;
        var y = e.pageY - canvas.offsetTop;
        if (paint) {
            addClick(x, y, false);
            drawNew();
        }
    }

    function touchstartEventHandler(e) {
        paint = true;
        if (paint) {
            addClick(e.touches[0].pageX - canvas.offsetLeft, e.touches[0].pageY - canvas.offsetTop, false);
            drawNew();
        }
    }

    function mouseUpEventHandler(e) {
        context.closePath();
        paint = false;
    }

    function mouseMoveEventHandler(e) {
        var x = e.pageX - canvas.offsetLeft;
        var y = e.pageY - canvas.offsetTop;
        if (paint) {
            addClick(x, y, true);
            drawNew();
        }
    }

    function touchMoveEventHandler(e) {
        if (paint) {
            addClick(e.touches[0].pageX - canvas.offsetLeft, e.touches[0].pageY - canvas.offsetTop, true);
            drawNew();
        }
    }

    function setUpHandler(isMouseandNotTouch, detectEvent) {
        removeRaceHandlers();
        if (isMouseandNotTouch) {
            canvas.addEventListener('mouseup', mouseUpEventHandler);
            canvas.addEventListener('mousemove', mouseMoveEventHandler);
            canvas.addEventListener('mousedown', mouseDownEventHandler);
            mouseDownEventHandler(detectEvent);
        } else {
            canvas.addEventListener('touchstart', touchstartEventHandler);
            canvas.addEventListener('touchmove', touchMoveEventHandler);
            canvas.addEventListener('touchend', mouseUpEventHandler);
            touchstartEventHandler(detectEvent);
        }
    }

    function mouseWins(e) {
        setUpHandler(true, e);
    }

    function touchWins(e) {
        setUpHandler(false, e);
    }

    function removeRaceHandlers() {
        canvas.removeEventListener('mousedown', mouseWins);
        canvas.removeEventListener('touchstart', touchWins);
    }

    canvas.addEventListener('mousedown', mouseWins);
    canvas.addEventListener('touchstart', touchWins);

</script>

<script>
    $('#export_button').click(function () {
        var base64 = canvas.toDataURL("image/png").replace(/^data:image\/(png|jpeg|jpg);base64,/, "");;
        $('<input name="base_64" type="hidden" />').val(base64).appendTo('#my_form');
        $('#my_form').submit();
    });

</script>

<script>
    var clear_button = document.getElementById('clear_button');
    clear_button.addEventListener("mouseup", function() {

        context.clearRect(0, 0, context.canvas.width, context.canvas.height); // Clears the canvas
        context.strokeStyle = "white";
        context.lineJoin = "round";
        context.lineWidth = 5;
        context.fillStyle = 'black';
        context.fillRect(0, 0, canvas.width, canvas.height);

    })

</script>


{% endblock content %}