{% extends "layout.html" %}

<!-- Content -->
{% block content %}

<div class="ro-title">
	<h2>Project: Read Numbers</h2>
	<a href="/" class="btn btn-sm btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Home</a>
</div>
<hr>
<p class="ro-project-description">In this project we illustrate the core functionality in machine learning using python. In just a single script the dataset is loaded, the model is trained, then validated, and a few cases are caught to prove its effectiveness. The dataset is quite simple. Comprised of image data and their corresponding numeric value, you can view examples of it <a href="/p1/data">here</a>. Because the train script handles all the code associated with managing a model, it can be quite can come with quite a wait time. One can view the epochs inside the console from which this web app is running to track the progess of an individual train.</p>

{% endblock content %}